/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and background styling */
body {
  font-family: 'Economica', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Allows footer to stay at the bottom */
  justify-content: center;
  align-items: center;
  background: url('https://images.unsplash.com/photo-1510442650500-93217e634e4c?q=80&w=1291&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1; /* Ensures the container takes up remaining space */
  background: rgba(0, 0, 0, 0.5); /* Dark semi-transparent overlay */
}

.content {
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px; /* Prevents content from being too wide */
}

/* Heading styles */
h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 700; /* Bold weight for the heading */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Optional: Adds a subtle shadow to the text */
}

h2 {
  white-space: pre-line;
}

/* Subheading styles */
p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); /* Optional: Adds a subtle shadow to the text */
}

/* Form styling */
input {
  width: 100%;
  height: 50px; /* Match button height */
  padding: 15px;
  font-size: 1rem;
  border: none;
  margin-bottom: 20px;
  outline: none;
  color: #333;
  border-radius: 10px; /* Reduce rounded corners */
  flex-grow: 2; /* Makes input take up more space */
}

.form-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  width: 150px;
  height: 50px; /* Same height as input */
  padding: 15px;
  font-size: 1rem;
  background-color: #1a1a1a;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

button:hover {
  background-color: #444444;
}

#playground-button {
  margin-top: 10px
}

/* Confirmation message styles */
#confirmation-message {
  margin-top: 10px;
  font-size: 1rem;
  color: #ddd;
  visibility: hidden;
}

/* Footer styling */
footer {
  background-color: black;
  color: white;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

/* Left-aligned content */
.left-footer {
  padding: 5px;
  text-align: left;
}

.left-footer p {
  padding: 5px;
  text-align: left;
  font-size: 0.8rem
}

.left-footer p a {
  color: white;
}

/* Centered content */
.center-footer {
  padding-bottom: 10px;
  text-align: center;
  color: gray; /* Slight gray tone for the centered text */
}

/* Thin white line between sections */
footer hr {
  border: 0;
  border-top: 1px solid white;
}

/* Styling the text in the footer */
footer p {
  margin: 1px 0;
}

/* Adjust font size for the centered footer text */
.center-footer p {
  font-size: 0.8rem;
}

.email-link {
  text-decoration: none;
  color: white; /* Set the color you prefer */
  /* font-size: 16px; Adjust the font size */
}

.email-link i {
  margin-right: 8px; /* Space between the icon and the email address */
}


/* Responsive design */
@media (max-width: 600px) {
  h1 {
      font-size: 2.5rem;
  }

  p {
      font-size: 1rem;
  }

  .form-wrapper {
    flex-direction: column; /* Stacks elements */
    gap: 15px;
    width: 100%;
  }

  input, button {
    width: 100%; /* Full width on mobile */
  }
}


